<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Hola, Soy Miguel Bustillos</mat-card-title>
        <mat-card-subtitle>Autor</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://pm1.narvii.com/6535/87868409381cd088f5230359065dc5b745cff674_00.jpg"
        alt="audiomiguel">
    <mat-card-content>
        <p>
            Soy un estudiante de 8to ciclo de la carrera de Ingeniería de Software
            apasionado por el desarrollo web y móvil, este proyecto
            ha sido elaborado con fines demostrativos sobre el uso del framework Angular
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a href="https://github.com/Audiomiguel" target="_blank" mat-button>GITHUB
            REPOSITORY</a>
        <a href="https://www.linkedin.com/in/miguel-bustillos-alayo-6ab081222/" target="_blank" mat-button>LINKEDIN</a>
    </mat-card-actions>
</mat-card>