<footer class="color-indigo">
    <div class="grid-footer">
        <div>
            <ul>
                <h3> Productos</h3>
                <li><a routerLink="products">Nuevos Productos</a></li>
                <li>En Oferta</li>
                <li>Ultimos productos</li>
            </ul>

        </div>
        <div>
            <ul>
                <h3>Acerca de PlatziStore</h3>
                <li> <a routerLink="contact">Quienes somos</a> </li>
            </ul>

        </div>

        <div>
            <ul>
                <h3>Contacto</h3>
                <li>
                    <a href="https://www.linkedin.com/in/miguel-bustillos-alayo-6ab081222/" target="_blank" mat-button
                        [ngStyle]="{'padding':'0px'}">
                        <mat-icon>linkedlin</mat-icon>
                        Github Repository
                    </a>

                </li>
                <li>
                    <a href="https://www.linkedin.com/in/miguel-bustillos-alayo-6ab081222/" target="_blank" mat-button
                        [ngStyle]="{'padding':'0px'}">
                        <mat-icon>linkedlin</mat-icon>
                        Linkedlin
                    </a>
                </li>
            </ul>

        </div>
    </div>
</footer>