.banner{
    padding: 25px 10px;
    margin-bottom: 5px;
    color: white;
    text-align: center;
    background-color: black;
}

.img-banner{
    width: 200px;

}

.banner h4{
    font-weight: 100;
    font-style: oblique;
}

.presentation {
    margin: 9px 4px;
    
}

#presentation-image {
    background-image: url('https://icon-library.com/images/who-we-are-icon/who-we-are-icon-9.jpg');
  background-size: cover;
}

#location-image {
    background-image: url('https://cdn3.iconfinder.com/data/icons/unicons-vector-icons-pack/32/location-512.png');
    background-size: cover;
}


